body
{
	background-image: url("bg-nebe.jpg");
}

header
{
	box-sizing: border-box;
	text-align: center;
	color: yellow;
	background-image: url("bg-nedk.jpg");
	border-radius: 1em;
	padding: 0.5em;
	margin-bottom: 1em;
	width: 100%;
}

header>*>*
{
	padding: 2px;
	background-image: url("bg-nebe.jpg");
}

main
{
	text-align: center;
	width: 100%;
}

.board
{
	max-width: 100%;
	display: inline-grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 25% 25% 25% 25%;
}

.square
{
	max-width: 6.5em;
	width: calc(100% - 4px);
	height: 0;
	padding-bottom: 100%; /* square aspect ratio */
	color: white;
	background-image: url("bg-dark.jpg");
	margin: 2px;
	transition: opacity 0.2s;
}

.square:hover
{
	cursor: pointer;
}

.square>*
{
	display: inline-block;
	position: relative;
	margin-top: 50%;
	translate: 0 -50%;
}

#my-canvas {
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 5;
	z-index: 10;
}
